*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	user-select: none;
	scroll-behavior: smooth;
}

body{
	background-color: #242936;
}

div#buttonBox{
	display: flex;
	background: #525E65;
	width: 100%;
	height: 3.3vw;
	margin-top: -3.3vw;
	position: fixed;
	z-index: 10!important;
	justify-content: center;
	align-items: center;
	
}

div.headerBoxShadow {
	box-shadow: 0px 0px 10px black;
}

a.button{
	font-size: 1.2vw;
	font-weight: bold;
	text-decoration: none;
	color: #DBE8D4;
	margin-left: 0.94vw;
	margin-right: 0.94vw;
}

a.buttonCV{
	font-size: 1.2vw;
	font-weight: bold;
	text-decoration: none;
	color: white;
	margin-left: 0.94vw;
	margin-right: 0.94vw;
	text-decoration: none;
	background: linear-gradient(to top, #72C9A6, #72C9A6 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size 0.5s;
}

a.button{
	text-decoration: none;
	background: linear-gradient(to top, #72C9A6, #72C9A6 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size 0.5s;
}

a.button:hover {
	color: #72C9A6;
	background-size: 100% 100%;
}

/*a.button:hover{
	color: #72C9A6;
	transition-duration: 0.8s;
}*/

header{
	background-color: transparent;
	display: flex;
	width: 100%;
	height: 14.14vw;
	margin-top: 3.3vw;
	justify-content: center;
	align-items: center;
}

img.backgroundHeader{
	z-index: 3;
	height: 14.14vw;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	filter: drop-shadow(0vh 1px 200vh rgba(255, 255, 255, 0.1));
	clip-path: inset(-0% -100% -100% -100%);
}

/*début de l'animation bienvenue*/

div.content{
	position: absolute;
	z-index: 6;
}

p.bigTitle{
	
}


div.content h2{
	position: absolute;
	color: #fff;
	margin-top: -1.41vw;
	transform: translate(-50%, -50%);
	font-size: 7.54vw;
	user-select: none;
}

div.content h2:nth-child(1){
	color: transparent;
	-webkit-text-stroke: 2px #525E65;
}

div.content h2:nth-child(2){
	color: #A8B4A8;
	animation: waves 3.8s ease-in-out infinite;
}

@keyframes waves{
	0%,100%
	{
		clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}
	50%
	{
		clip-path: polygon(0 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}


/*fin de l'animation de bienvenue*/

div#MainBox{
	display: flex;
	margin-top: 4.71vw;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 200vw;
}

canvas#cnv{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
}


/* beginning of moon animation */

.solarBox{
	display: flex;
	align-items: center;
	margin-top: -2.35vw;
	width: 28.28vw;
	height: 16.49vw;
	background-color: transparent;
}

.space{
	width: 7.57vw;
	height: 7.57vw;
	margin: 12.63vw auto;
	position: relative;
	padding: 2.52vw;
}

.Profil{
	position: relative;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: url(../img/mercure3.png);
	opacity: 0.9;
	width: 10.10vw;
	height: 10.10vw;
	background-size: cover;
}

.Sat{
	width: 3.15vw;
	height: 3.15vw;
	border-radius: 50%;
	background: #525e65;
	position: absolute;
	transform: rotate(-45deg);
	top: 0; left: 0;
	animation: orbit 10s infinite;
}

@keyframes orbit{
	50%{
		left: calc(80%);
		top: calc(90%);
	}
	100%{
		z-index: -1;
	}
}

/* beginning of flip animation css*/

.flip-container {
	perspective: 1000px;
}

.flip-container:hover {
	cursor: pointer;
}

.flipper {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 4vw;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.back {
	transform: rotateY(180deg);
}

.ProfilBack {
	border-radius: 50%;
	background: url(../img/other-image.png);
	opacity: 0.9;
	width: 10.10vw;
	height: 10.10vw;
	background-size: cover;
}

/* ending of flip animation css */


/* ending of moon animation */


div.introTheoDiv{
	display: flex;
	margin-top: 4.71vw;
	width: 28.28vw;
	height: 19.32vw;
	text-align: justify;
	background-color: transparent;
}

p.introTheoText{
	color: #DBE8D4;
	font-size: 1.22vw;
}

/*début projectBox*/

div.projectBox {
	display: flex;
	flex-direction: column;
	margin-top: 6.9vw;
	width: 60vw;
	height: 42.42vw;
	align-items: center;
	/* background-color: hotpink; */
}

h1.projectTitle {
	margin-top: 0.47vw;
	color: #DBE8D4;
	font-size: 2.35vw;
}

hr.projetUnderline {
	margin-top: 1.41vw;
	width: 23.56vw;
	height: 0.14vw;
	border: none;
	background-color: #525E65;
}

p.projectDescri {
	margin-top: 1.88vw;
	color: #485E81;
	font-size: 1.03vw;
}

div.projectLogoBox {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 2.35vw;
	width: 45vw;
	height: 21.21vw;
	/* background-color: green; */
}

.projectTopBox,
.projectBottomBox {
	display: flex;
	width: 70%;
	height: 100%;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	/* background-color: pink; */
}

.projectBottomBox {
	width: 30%;
	/* background-color: brown; */
}

div.JarodBox {
	display: flex;
	flex-direction: column;
	width: 9.42vw;
	height: 14.14vw;
	margin-left: -3vw;
	/* background-color: brown;*/
}

div.lthBox,
div.AKBBox {
	display: flex;
	flex-direction: column;
	width: 9.42vw;
	height: 14.14vw;
	/* background-color: brown; */
}

img.AKBLogo{
	display: flex;
	width: 9.42vw;
	height: 9.42vw;
	border-radius: 50%;
	border: solid 0.04vw orange;
}

img.lthLogo,
img.JarodLogo {
	display: flex;
	width: 9.42vw;
	height: 9.42vw;
	border-radius: 50%;
}

a.lthButton,
a.AKBButton,
a.JarodButton {
	z-index: 1;
}

.dropdownLth,
.dropdownAkb,
.dropdownJarod {
	max-width: 12.897158694830921vw;
	height: 4.0626049888717395vw;
	border-radius: 0.321vw;
	margin-top: -0.94vw;
	background-color: transparent;
	transition: height 0.2s ease-in-out;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.bloc-top-lth,
.bloc-top-akb,
.bloc-top-jarod {
	padding: 1.2897158694830921vw;
	display: block;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.2897158694830921vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color: white;
	cursor: pointer;
	border-radius: 0.321vw;
	clip-path: polygon(30% 0%, 70% 0%, 70% 100%, 30% 100%);
}

img.arrowLth,
img.arrowAkb,
img.arrowJarod {
	margin-top: -1.649vw;
	width: 4.71vw;
	border-radius: 50%;
}

.bloc-links-lth,
.bloc-links-akb,
.bloc-links-jarod {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-left: 0.47vw;
	margin-right: 0.47vw;
}

p.lthDescri,
p.akbDescri,
p.jarodDescri {
	margin-top: 0vw;
	margin-bottom: 0.47vw;
	color: white;
	font-size: 0.98vw;
}

a.lthDescriRedirect,
a.akbDescriRedirect,
a.jarodDescriRedirect {
	display: flex;
	font-size: 1.22vw;
	font-weight: bold;
	text-decoration: none;
	color: #242936;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #DBE8D4;
	border-radius: 0.23vw;
	margin-bottom: 0.47vw;
	width: 8.48vw;
	height: 2.35vw;
}

a.lthDescriRedirect:hover,
a.akbDescriRedirect:hover,
a.jarodDescriRedirect:hover {
	transition-duration: 600ms;
	background-color: #72C9A6;
}



/*fin projectBox*/



/*début internship Box*/

div#internBox{
	display: flex;
	flex-direction: column;
	margin-top: 0vh;
	width: 56.56vw;
	height: 89.56vw;
	align-items: center;
/*	background-color: hotpink; */
}

h1.internTitle{
	margin-top: 0.47vw;
	color: #DBE8D4;
	font-size: 2.35vw;
}

hr.internUnderline{
	margin-top: 1.41vw;
	width: 23.56vw;
	height: 0.14vw;
	border: none;
	background-color: #525E65;
}

p.internDescri{
	text-align: center;
	margin-top: 1.88vw;
	color: #485E81;
	font-size: 1.03vw;
}

/*début traxens intership box*/

div.traxensInternBox{
	display: flex;
	flex-direction: row;
	margin-top: 4.71vw;
	width: 47.13vw;
	height: 14.14vw;
	border-radius: 0.32vw;
	background-color: #72C9A6;
}

div.traxensLogoBox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30%;
	clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
	border-top-left-radius: 0.32vw;
	border-bottom-left-radius: 0.32vw;
	border-bottom-right-radius: 0vw;
	border-top-right-radius: 0.16vw;
	background-color: #DBE8D4;
}

a.traxensButtonLogo{

}

img.traxensLogo{
	display: flex;
	width: 8.48vw;
	height: 9.42vw;
	margin-left: -1.41vw;
}

img.traxensLogo:hover{
	rotate: 30deg;
	behavior: smooth;
	transition-duration: 0.6s;
}

img.traxensLogo::after{
	rotate: 0deg;
	behavior: smooth;
	transition-duration: 0.6s;
}

div.traxensDescriBox{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
	border-top-right-radius: 0.32vw;
	border-bottom-right-radius: 0.32vw;
	border-top-left-radius: 0vw;
	border-bottom-left-radius: 0vw;
	clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
	background-color: #525E65;
}

p.titleCompanyTraxens{
	margin-top: 1.41vw;
	margin-left: 5.7vw;
	color: #DBE8D4;
	font-size: 1.13vw;

}

span.titleCompanyTraxensUnderline{
	text-decoration: underline;
}

p.titleDurationTraxens{
	margin-top: 0.7vw;
	margin-left: 5.04vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

span.titleDurationTraxensUnderline{
	text-decoration: underline;
}

p.titleMissionsTraxens{
	margin-top: 0.7vw;
	margin-left: 4.38vw;
	color: #DBE8D4;
	font-size: 1.13vw;
	text-decoration: underline;
}

p.missionsTraxensDescri{
	margin-top: 0.7vw;
	margin-left: 0vw;
	margin-right: 1.41vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.traxensDescri1{
	margin-top: 0.04vw;
	margin-left: 3.77vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.traxensDescri2{
	margin-top: 0.04vw;
	margin-left: 3.29vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.traxensDescri3{
	margin-top: 0.04vw;
	margin-left: 2.82vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.traxensDescri4{
	margin-top: 0.04vw;
	margin-left: 2.35vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

/*fin traxens intership box*/


/*début alcineo intership box*/

div.alcineoInternBox{
	display: flex;
	flex-direction: row;
	margin-top: 4.71vw;
	width: 47.13vw;
	height: 14.14vw;
	border-radius: 0.32vw;
	background-color: #72C9A6;
}

div.alcineoLogoBox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30%;
	clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
	border-top-left-radius: 0.32vw;
	border-bottom-left-radius: 0.32vw;
	border-bottom-right-radius: 0vw;
	border-top-right-radius: 0.16vw;
	background-color: #DBE8D4;
}

a.alcineoButtonLogo{

}

img.alcineoLogo{
	display: flex;
	width: 8.48vw;
	height: 7.54vw;
	margin-left: -2.35vw;
}

img.alcineoLogo:hover{
	rotate: 41deg;
	behavior: smooth;
	transition-duration: 0.6s;
}

img.alcineoLogo::after{
	rotate: 0deg;
	behavior: smooth;
	transition-duration: 0.6s;
}

div.alcineoDescriBox{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
	border-top-right-radius: 0.32vw;
	border-bottom-right-radius: 0.32vw;
	border-top-left-radius: 0vw;
	border-bottom-left-radius: 0vw;
	clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
	background-color: #525E65;
}

p.titleCompanyAlcineo{
	margin-top: 1.41vw;
	margin-left: 5.7vw;
	color: #DBE8D4;
	font-size: 1.13vw;

}

span.titleCompanyAlcineoUnderline{
	text-decoration: underline;
}

p.titleDurationAlcineo{
	margin-top: 0.7vw;
	margin-left: 5.04vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

span.titleDurationAlcineoUnderline{
	text-decoration: underline;
}

p.titleMissionsAlcineo{
	margin-top: 0.7vw;
	margin-left: 4.38vw;
	color: #DBE8D4;
	font-size: 1.13vw;
	text-decoration: underline;
}

p.missionsAlcineoDescri{
	margin-top: 0.7vw;
	margin-left: 0vw;
	margin-right: 1.41vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.alcineoDescri1{
	margin-top: 0.04vw;
	margin-left: 3.77vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.alcineoDescri2{
	margin-top: 0.04vw;
	margin-left: 3.29vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.alcineoDescri3{
	margin-top: 0.04vw;
	margin-left: 2.82vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.alcineoDescri4{
	margin-top: 0.04vw;
	margin-left: 2.35vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

/*fin alcineo intership box*/


/*début LBC intership box*/

div.LBCInternBox{
	display: flex;
	flex-direction: row;
	margin-top: 4.71vw;
	width: 47.13vw;
	height: 14.14vw;
	border-radius: 0.32vw;
	background-color: #72C9A6;
}

div.LBCLogoBox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30%;
	clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
	border-top-left-radius: 0.32vw;
	border-bottom-left-radius: 0.32vw;
	border-bottom-right-radius: 0vw;
	border-top-right-radius: 0.16vw;
	background-color: #DBE8D4;
}

a.LBCButtonLogo{

}

img.LBCLogo{
	display: flex;
	width: 8.01vw;
	height: 8.01vw;
	margin-left: -2.35vw;
}

img.LBCLogo:hover{
	width: 6.83vw;
	height: 6.83vw;
	behavior: smooth;
	transition-duration: 0.6s;
}

img.LBCLogo::after{
/*	rotate: 0deg;*/
	behavior: smooth;
	transition-duration: 0.6s;
}

div.LBCDescriBox{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
	border-top-right-radius: 0.32vw;
	border-bottom-right-radius: 0.32vw;
	border-top-left-radius: 0vw;
	border-bottom-left-radius: 0vw;
	clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
	background-color: #525E65;
}

p.titleCompanyLBC{
	margin-top: 1.41vw;
	margin-left: 5.7vw;
	color: #DBE8D4;
	font-size: 1.13vw;

}

span.titleCompanyLBCUnderline{
	text-decoration: underline;
}

p.titleDurationLBC{
	margin-top: 0.7vw;
	margin-left: 5.04vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

span.titleDurationLBCUnderline{
	text-decoration: underline;
}

p.titleMissionsLBC{
	margin-top: 0.7vw;
	margin-left: 4.38vw;
	color: #DBE8D4;
	font-size: 1.13vw;
	text-decoration: underline;
}

p.missionsLBCDescri{
	margin-top: 0.7vw;
	margin-left: 0vw;
	margin-right: 1.41vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.LBCDescri1{
	margin-top: 0.04vw;
	margin-left: 3.77vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.LBCDescri2{
	margin-top: 0.04vw;
	margin-left: 3.29vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.LBCDescri3{
	margin-top: 0.04vw;
	margin-left: 2.82vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.LBCDescri4{
	margin-top: 0.04vw;
	margin-left: 2.35vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

/*fin LBC intership box*/


/*début ILC intership box*/

div.ILCInternBox{
	display: flex;
	flex-direction: row;
	margin-top: 4.71vw;
	width: 47.13vw;
	height: 14.14vw;
	border-radius: 0.32vw;
	background-color: #72C9A6;
}

div.ILCLogoBox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30%;
	clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
	border-top-left-radius: 0.32vw;
	border-bottom-left-radius: 0.32vw;
	border-bottom-right-radius: 0vw;
	border-top-right-radius: 0.16vw;
	background-color: #DBE8D4;
}

a.ILCButtonLogo{

}

img.ILCLogo{
	display: flex;
	width: 8.01vw;
	height: 8.01vw;
	margin-left: -2.35vw;
}

img.ILCLogo:hover{
	width: 6.83vw;
	height: 6.83vw;
	behavior: smooth;
	transition-duration: 0.6s;
}

img.ILCLogo::after{
/*	rotate: 0deg;*/
	behavior: smooth;
	transition-duration: 0.6s;
}

div.ILCDescriBox{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 70%;
	border-top-right-radius: 0.32vw;
	border-bottom-right-radius: 0.32vw;
	border-top-left-radius: 0vw;
	border-bottom-left-radius: 0vw;
	clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0% 100%);
	background-color: #525E65;
}

p.titleCompanyILC{
	margin-top: 1.41vw;
	margin-left: 5.7vw;
	color: #DBE8D4;
	font-size: 1.13vw;

}

span.titleCompanyILCUnderline{
	text-decoration: underline;
}

p.titleDurationILC{
	margin-top: 0.7vw;
	margin-left: 5.04vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

span.titleDurationILCUnderline{
	text-decoration: underline;
}

p.titleMissionsILC{
	margin-top: 0.7vw;
	margin-left: 4.38vw;
	color: #DBE8D4;
	font-size: 1.13vw;
	text-decoration: underline;
}

p.missionsILCDescri{
	margin-top: 0.7vw;
	margin-left: 0vw;
	margin-right: 1.41vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.ILCDescri1{
	margin-top: 0.04vw;
	margin-left: 3.77vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.ILCDescri2{
	margin-top: 0.04vw;
	margin-left: 3.3vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.ILCDescri3{
	margin-top: 0.04vw;
	margin-left: 2.82vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

p.ILCDescri4{
	margin-top: 0.04vw;
	margin-left: 2.35vw;
	color: #DBE8D4;
	font-size: 1.13vw;
}

/*fin LBC intership box*/


/*fin internship Box*/



p.copyright{
	font-size: 0.7vw;
	color: #525E65;
}

div.retourHaut{
	display: flex;
	margin-bottom: 1.88vw;
	width: 4.71vw;
	height: 4.71vw;
	background-color: #DBE8D4;
	border-radius: 50%;
}

img.imgRetourHaut{
	width: 4.71vw;
	height: 4.71vw;
}

div.retourHaut:hover{
	background-color: #73CCA8;
	transition-duration: 0.6s;
}

img.backgroundFooter{
	height: 16.49vw;
	width: 100%;
	z-index: -3;
	position: absolute;
	background-repeat: no-repeat;
}

a.footerMail{
	font-size: 1.13vw;
	color: #73CCA8;
	text-decoration: none;
	margin-bottom: 2.35vw;
}

a.footerMail:hover{
	text-decoration: underline;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 16.49vw;
	background-color: transparent;
/* #2E3445	*/
}

